@view-transition {
  navigation: auto;
}

.personal-info {
  display: flex;
  height: 4em;

  margin-bottom: 1em;
}

.profile-pic {
  border-radius: 40%;
  height: 100%;
}

.name-and-title {
  margin-left: 1em;
}

.name {
  font-size: 1.5em;
  font-weight: 600;

  view-transition-name: name;
}

.links {
  margin-bottom: 1em;
  display: flex;
  gap: 1em;

  a {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-color: var(--primary);
    transition: text-decoration-color 200ms;

    background: linear-gradient(
        to left,
        var(--background) 50%,
        var(--primary) 50%
      )
      right;
    background-size: 200%;
    transition: 200ms ease-out;

    &[href="about"] {
      view-transition-name: about;
    }
    &[href="projects"] {
      view-transition-name: projects;
    }
  }

  a:hover {
    background-position: left;
    color: var(--background);
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}

.socials a {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;

  text-decoration: none;
  color: var(--primary);
  border: 1px solid var(--borders);
  border-radius: 100vmax; /* always rounded */
  width: fit-content;
  padding: 0.1em 0.4em;

  svg {
    width: 1em;
    height: 1em;
  }

  span {
    font-size: 0.9em;
  }
}
