@view-transition {
  navigation: auto;
}

.header {
  font-size: 1.5em;
  background-color: var(--background);
  position: sticky;
  top: 0;

  span::before {
    content: " > ";
  }
}

.name {
  font-weight: 600;
  text-decoration: none;
  color: var(--primary);

  view-transition-name: name;
}

.projects {
  view-transition-name: projects;
}

.content p {
  padding-top: 1em;
}

.project {
  padding-top: 1em;

  .name-and-title * {
    font-size: 1em;
    display: inline;
  }

  .short-desc {
    font-size: 0.8em;
  }

  details {
    padding-top: 1em;
  }
}

.dingbat {
  width: 100%;
  aspect-ratio: 3 / 2;
  border: none;
}

.credit {
  font-size: 0.7em;
  text-align: center;
}

iframe:not(:focus-within) ~ .controls {
  display: none;
}
